<h1>All posts</h1>
<table class="profile">
  <tr>
    <td class="main">
      <% unless @microposts.empty? %>
        <%= will_paginate @microposts %>
        <table class="microposts">
          <!--<%= render @microposts %>-->
          <%= render :partial => 'shared/feed_item', :collection => @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
    </td>
    
  </tr>
</table>
